.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.loginLogo {
  font-weight: 500;
  font-weight: 50px;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginDescription {
  font-size: 24px;
}

.loginBox {
  height: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.loginInput {
  height: 50px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  border: none;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  background-color: #1775ee;
  border-radius: 50px;
  height: 50px;
  color: white;
}

.loginForgot {
  text-align: center;
  color: #1775ee;
}

.loginRegistrationButton {
  width: 60%;
  height: 50px;
  align-self: center;
  border-radius: 10px;
  background-color: #42b72a;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
